body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Staatliches", cursive;
}

* {
  scrollbar-width: none;
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.title-txt {
  font-size: 1.5em;
}

.fl-col-ce {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.shadow {
  -webkit-box-shadow: 0px 0px 5px -1px rgba(138, 136, 138, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(138, 136, 138, 1);
  box-shadow: 0px 0px 5px -1px rgb(114, 102, 114);
  border-radius: 8px;
}

.fl {
  display: flex;
}

.fl-co {
  display: flex;
  flex-direction: column;
}

.data-display {
  overflow-x: hidden;
  width: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 1rem 0rem;
  padding: 1rem;
  width: 70%;
  border-radius: 8px;
  height: fit-content;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(138, 136, 138, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(138, 136, 138, 1);
  box-shadow: 0px 0px 5px -1px rgb(114, 102, 114);
}

.card-title {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav {
  margin: 1rem 0rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.nav > span {
  cursor: pointer;
  width: 25%;
  text-align: center;
  height: 100%;
  padding: 5px 10px;
  opacity: 0.8;
}

.selected {
  -webkit-box-shadow: inset 0px 0px 5px -1px rgba(138, 136, 138, 1);
  -moz-box-shadow: inset 0px 0px 5px -1px rgba(138, 136, 138, 1);
  box-shadow: inset 0px 0px 5px -1px rgba(138, 136, 138, 1);
}

/* ityped */
.ityped-cursor {
  font-size: 1.2em;
  font-weight: 900;
  opacity: 1;
  -webkit-animation: blink 0.4s infinite;
  -moz-animation: blink 0.4s infinite;
  animation: blink 0.4s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}
